@import url("https://fonts.googleapis.com/css?family=Montserrat|Great+Vibes");
body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
  font-family: "Great Vibes", cursive;
}

h3 {
  font-weight: bold;
  font-size: 1.3rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.accent1 {
  color: #2C348D;
}

.accent2 {
  color: #B23634;
}

.btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary {
  background: #2C348D !important;
  border: none;
  padding: .5rem 3rem;
}

.btn-primary:hover {
  background: #B23634 !important;
}

.card {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-text a {
  margin-bottom: 2rem;
}

.card-body img {
  height: 2.5rem;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:active {
  background: #B23634 !important;
}

.navbar-brand img {
  width: 9rem;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 1.5rem !important;
}

.nav-link:hover {
  color: #B23634 !important;
  -webkit-transition: .4s;
  transition: .4s;
}

.current {
  color: #2C348D !important;
}

.navbar-nav .active .nav-link {
  color: #B23634 !important;
}

.jumbotron {
  height: 100vh;
  background-image: url("../imgs/showcase.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron img {
  width: 8rem;
}

.carousel {
  background: #2C348D;
  max-width: 45rem;
  margin: 0 auto;
}

.carousel-item img {
  max-height: 500px;
}

.hours {
  background: #2C348D;
}

.hours li {
  font-size: 1.3rem;
  color: white;
  line-height: 2;
  border-bottom: 1px dotted white;
}

.contact a {
  text-decoration: none;
  font-size: 1.3rem;
  padding: .3rem 0;
}

.contact a:hover {
  color: #B23634 !important;
  -webkit-transition: .4s;
  transition: .4s;
}

footer {
  background: #1c225c;
}

footer p {
  margin: 0;
}

footer i {
  color: #fff;
  padding: 0 1rem;
}

.footer-copyright {
  background: #2C348D;
  color: #fff;
}

.footer-copyright a {
  text-decoration: none;
  color: #B23634;
}

.fa-facebook-f:hover {
  color: #3656A7;
  -webkit-transition: .4s;
  transition: .4s;
}

.fa-twitter:hover {
  color: #52A8F8;
  -webkit-transition: .4s;
  transition: .4s;
}

.fa-google-plus-g:hover {
  color: #E24C44;
  -webkit-transition: .4s;
  transition: .4s;
}

.fa-linkedin-in:hover {
  color: #3A77C6;
  -webkit-transition: .4s;
  transition: .4s;
}

.fa-instagram:hover {
  color: #8a3ab9;
  -webkit-transition: .4s;
  transition: .4s;
}

.fa-pinterest:hover {
  color: #EB3D38;
  -webkit-transition: .4s;
  transition: .4s;
}

.booking {
  background: #B23634 url("../imgs/booking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 75.23px;
}

.booking .container {
  background: #fff;
  margin: 5rem auto;
  padding: 0 3rem;
}

.booking .container input {
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0%;
}

.booking .container input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #B23634;
}

.booking .container select {
  margin-bottom: 1rem;
}

.booking .container label {
  font-weight: bold;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  #navbarNav {
    margin: 0 !important;
  }
  .nav-link {
    line-height: 3;
    display: block;
  }
  .jumbotron h1 {
    font-size: 3rem;
  }
  .employee {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem;
  }
  .employee .card {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .employee .card-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .employee .card,
  .employee .card-text {
    margin: 0 !important;
  }
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .services-card {
    margin: 1.5rem 0 !important;
  }
  .hours-location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hours-location .hours,
  .hours-location .location {
    width: 100% !important;
  }
  .hours-location .location {
    height: 25rem !important;
  }
  i {
    font-size: 2rem !important;
    padding: 0 1rem;
  }
  footer {
    margin: 0 !important;
  }
}

@media (max-width: 576px) {
  .btn {
    width: 100%;
    padding: 1rem 0;
  }
  i {
    padding: 0 .3rem !important;
  }
  .contact i,
  .contact a {
    font-size: 1.2rem !important;
  }
}
/*# sourceMappingURL=style.css.map */